attrs==25.4.0
blinker==1.9.0
certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.1
Flask==3.0.0
hypothesis==6.92.1
idna==3.13
iniconfig==2.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.0
pluggy==1.6.0
psycopg2-binary==2.9.12
pytest==7.4.3
python-dotenv==1.2.2
requests==2.33.1
sortedcontainers==2.4.0
urllib3==2.6.3
Werkzeug==3.1.6
